html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.file-input-label {
    width: 100%;
    text-align: center;
    border: 1px gray dashed;
    border-radius: 5px;
    font-size: 16px;
    color: darkslategray;
    padding: 5px 0;
    background-color: #eee;
}

.progress-style {
    height: 25px;
    font-size: 16px;
}
